JSEARCH_API_URL=https://jsearch.p.rapidapi.com/search
JSEARCH_API_HOST=jsearch.p.rapidapi.com
JSEARCH_API_KEY=

JSEARCH_API_RATE_LIMIT_CALLS=5
JSEARCH_API_RATE_LIMIT_PERIOD=1
REDIS_HOST=localhost
REDIS_PORT=6379
